<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.article-mapper">
	<insert id="insertArticle" parameterType="kr.co.company.hello.vo.Article">
		insert into article(article_id
						  , author
						  , title
						  , content)
					values (#{articleId}
						  , #{author}
						  , #{title}
						  , #{content})
	</insert>
	
	<select id="selectArticleById" resultType="kr.co.company.hello.vo.Article" parameterType="string">
		select article_id as articleId
		     , author
		     , title
		     , content
		  from article
		 where article_id = #{articleId}
	</select>
</mapper>