<?xml version="1.0" encoding="UTF-8"?>
<!-- 30초마다 설정 파일의 변경을 확인, 파일이 변경되면 다시 로딩한다 -->	
<configuration scan="true" scanPeriod="30 seconds">

	<!-- 외부 설정파일을 사용할 수 있다. -->
	<!-- <property resource="resource.properties"/> -->

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/tmp/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/tmp/access-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <Pattern>%d{HH:mm} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info"/>
    <logger name="kr.co.company.hello" level="debug"/>

    <root level="debug">
        <!-- <appender-ref ref="CONSOLE"/> -->
        <!-- <appender-ref ref="FILE"/> -->
    </root>
</configuration>